/* GENERAL */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;

    font-family: Roboto;
    font-size: 16px;

    color: #000;
}

button,
input,
textarea {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1;
    display: block;
}

input.warning,
textarea.warning {
    background-color: #ffe0e0 !important
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
}

.hide {
    display: none !important;
}

.white {
    color: #FFFFFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

.w_90 {
    width: 90%;
}

.w_80 {
    width: 80%;
}
.w_70 {
    width: 70%;
}

.w_20 {
    width: 20%;
}

.w_10 {
    width: 10%;
}

.instBtn {
    text-transform: uppercase;
    outline: 0;
    display: inline-block;
    background: #541c79;
    background-image: radial-gradient(at 120% 500%, #ff3a8c, #ffaf83);
    border: 0;
    padding: 15px 50px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: .3s;
    position: relative;
    max-height: 45px;
    cursor: pointer;
}

.editBtn {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: #f2f2f2;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s;
    vertical-align: middle;
}

.editBtn:not(:empty) {
    padding: 10px 10px 10px 40px;
    width: auto;
    background-position: 8px center;
    line-height: 1;
    font-size: 15px;
}

.editBtn:last-child {
    margin-right: 0;
}

.editBtn.edit {
    background-image: url(/images/icons/edit.svg)
}

.editBtn.edit:hover {
    background-image: url(/images/icons/edit_green.svg)
}

.editBtn.delete {
    background-image: url(/images/icons/trash.svg)
}

.editBtn.delete:hover {
    background-image: url(/images/icons/trash_red.svg)
}

.editBtn.resolve {
    background-image: url(/images/icons/resolve.svg)
}

.editBtn.resolve:hover {
    background-image: url(/images/icons/resolve_green.svg)
}

.editBtn.reject {
    background-image: url(/images/icons/cancel.svg)
}

.editBtn.reject:hover {
    background-image: url(/images/icons/cancel_red.svg)
}

.editBtn.upload {
    background-image: url(/images/icons/upload_black.svg)
}

.editBtn.upload:hover {
    background-image: url(/images/icons/upload_blue.svg);
    color: #617fff;
}
.editBtn.reply {
    background-image: url(/images/icons/reply.svg)
}

.editBtn.reply:hover {
    background-image: url(/images/icons/reply_blue.svg);
    color: #617fff;
}

.tabContent {
    margin-right: auto;
}

.tabWrapper {
    margin-bottom: 30px;
}

.tabWrapper:empty {
    margin-bottom: 0px;
}

#notificationHandler {
    position: fixed;
    z-index: 111111111;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

}

.notificationTab {
    color: #fff;
    padding: 15px;
    margin-bottom: 5px;
    /* opacity: 0; */
    pointer-events: none !important;
}

.notificationTab>* {
    pointer-events: none !important;
}

.notificationTab.error {
    background-color: #ff766f;
}

.notificationTab.success {
    background-color: #67e783;
}

.userTab,
.commentTab {
    background-color: #fff;
    color: #000;
    padding: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 13px;
}

.commentTab {
    margin-bottom: 0;
}

.userTab .tabContent>span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.userTab .tabContent>span:last-child {
    margin-right: 0;
}

.userAvatar {
    background-image: url(/images/icons/photo_avatar.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.userAvatar img {
    width: 100%;
    height: auto;
}

.notificationTab:last-child,
.userTab:last-child,
.commentTab:last-child {
    margin: 0px;
}



.instLink {
    color: #ffaf83;
}

/* GRID */
.instHeader,
.instFooter {
    height: 90px;
    background-color: #541c79;
    color: #fff;
}

.instLogo,
.instBtns {
    width: 20%;
    padding: 20px;
}

.instLogo {
    text-align: left;
}

.instBtns {
    text-align: right;
}


.instLogo .instLink,
.instBtns .instLink {
    font-weight: 300;
    font-size: 14px;
}

.instNav {
    width: 60%;
}

.instPage {
    min-height: calc(100vh - 90px - 90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.leftSidebar,
.rightSidebar,
.pageContent {
    vertical-align: top;
    padding: 30px;
}

.leftSidebar,
.rightSidebar {
    width: 20%;
    background-color: #ccc;
}

.leftSidebar {
    background-image: radial-gradient(at 0 100%, #ff3a8c, #ffaf83)
}

.rightSidebar {
    background-image: radial-gradient(at 100% 100%, #ff3a8c, #ffaf83)
}

.pageContent {
    width: 60%;
    background-color: #fff;
    box-shadow: inset 0 0 20px 0px rgba(111, 111, 111, 0.6);
    background: #ece8f2;
}

#instFeed {
    /* margin-bottom: 60px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

#mainPage img {
    width: 100%;
    height: auto;
}

/*  */

/* LOGIN FORM */

.instFormWrapper {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 60px;
    padding: 45px;
}

#editUserPage.instFormWrapper {
    max-width: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.userPageAvatarBlock {
    width: 25%;
}

.userPageInfoBlock {
    width: 75%;
}

.userPageMediaWrapper {
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #bbbbbb;
}

.instFormWrapper input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.instFormWrapper .btn {
    text-transform: uppercase;
    outline: 0;
    background: #541c79;
    background-image: radial-gradient(at 50% 120%, #ff3a8c, #ffaf83);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: .3s;
    position: relative;
    margin-bottom: 15px;
    display: block;
}

.instFormWrapper .btn:last-child {
    margin-bottom: 0;
}

.instFormWrapper .btn:hover,
.instFormWrapper .btn:active,
.instFormWrapper .btn:focus {
    background: #541c79;
    background-image: radial-gradient(at 50% -20%, #ff3a8c, #ffaf83);
}

.btn.btnBlack {
    background: #6b6b6b;
}

.btn.btnBlack:hover,
.btn.btnBlack:active,
.btn.btnBlack:focus {
    background: #232323;
}


.instFormWrapper .message {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
    color: #b3b3b3;
}

.instFormWrapper .message a {
    color: #541c79;
    text-decoration: none;
    font-weight: bold;
}

.instFormWrapper>form {
    display: none;
}

.userPageInfoBlock form {
    max-width: 300px;
}

.instFormWrapper .formLogin.active,
.instFormWrapper .formRegister.active {
    display: block;
}

.formHeading {
    text-align: left;
    margin-bottom: 15px;
    font-size: 22px;
}

.formHeading span {
    font-weight: 500;
}

/* USER INFO */

.userInfo {
    color: #FFFFFF;
}

.ppHide {
    display: none !important;
}

body.ppOpened {
    height: 100vh;
    overflow: hidden;
}

/* popup */
.popupWrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999;
    display: flex;
    vertical-align: middle;
}

.popupContent {
    max-width: 60%;
    margin: auto;
}

.popupClose {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-image: url(/images/icons/close_white.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.pep {
    background-color: #541c79;
    color: #fff;
    padding: 15px;
}


/* main menu */
.menuWrapper {
    padding: 35px 0;
}

.menuElement {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    transition: .3s;
    color: #FFFFFF;
}

.menuElement:hover {
    color: #ff766f;
}

.wrapper .col {
    display: block;
    margin: 0 0 20px 0;
}

.wrapper.light {
    background-color: #fff;
    padding: 20px;
}

.inputHolder {
    margin-bottom: 15px;
    display: block;
}

#liveChanges .inputHolder textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 15px;
    display: block;
    outline: none;
    max-width: 100%;
    min-width: 100%;
}

#liveChanges .inputHolder span {
    /* width: 50%; */
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
}

.userPhotoWrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto 30px 0;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: url(/images/icons/photo_avatar.svg);
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.userPhotoWrapper .uploadBtn {
    width: 150px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-image: url(/images/icons/upload_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.userPhotoWrapper img {
    width: 100%;
    height: auto;
}

.userPhotoWrapper:hover .uploadBtn {
    transform: translateY(0);
}

#uploadAvatarInput,
#uploadUserMedia {
    display: none;
}

.userMedia {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px -30px;
}

.mediaElement {
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.mediaElementWrapper {
    position: relative;
}

.mediaElementWrapper .content img {
    width: 100%;
    height: auto;
    display: block;
}

.mediaElementWrapper .buttons {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mediaElementWrapper .buttons .delete {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top right;
}

.mediaElementWrapper:hover .buttons .delete {
    transform: scale(1);
}

.feedElement {
    margin-bottom: 30px;
    width: 50%;
    padding: 0 15px;
}

.feedElement .userTab {
    margin-bottom: 0;
}

.feedElement .content img {
    width: 100%;
    height: auto;
    display: block;
}

.feedElement .commentSection {
    padding: 15px;
    background-color: #fff;
}

.commentInput .commentWrite,
.commentInput .commentSend {
    width: 100%;
}

.commentInput .commentWrite {
    display: flex;
    background: #fff;
    border: 0;
    color: #000;
    font-size: 14px;
    min-height: 30px;
    height: 30px;
    max-height: 80px;
    outline: 0;
    padding: 5px;
    resize: none;
    line-height: 20px;

}
.commentWrite:focus {
    box-sizing: content-box;
    border-bottom: 2px solid #617fff;
}

.commentInput .commentSend {
    background-color: #fff;
    min-height: 30px;
    border-radius: 0;
    border: none;
    background-image: url(/images/icons/send.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right center;
    padding: 0;
    cursor: pointer;
    transition: .3s;
    outline: 0;
}

.commentInput .commentSend:hover {
    background-image: url(/images/icons/send_revert.svg);
}

.commentList {
    background-color: #fff;
}

.commentList:empty {
    background-color: transparent;
}

.commentText {
    padding-top: 9px;
}
.commentInput {
    padding: 0 15px 0 0;
}
.commentBtns {
    display: flex;
}
.commentBtns>* {
    margin-left: auto;
}
.commentReplies{
    padding-left: 30px;
}
@media (max-width:1400px) {

    .userPageAvatarBlock {
        width: 100%;
    }

    .userPageInfoBlock {
        width: 100%;
    }
}

@media (max-width:1200px) {

    .feedElement {
        width: 100%;
    }

}